<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="sitePersistence" class="persistence.bde.BdeSitePersistence"/>
	
	<bean id="hotelPersistence" class="persistence.bde.BdeHotelPersistence"/>
	
	<bean id="boatCalc" class="business.path.Boat">
	    <property name="priceKm" value="5.0" /> 
	</bean>
	
	<bean id="busCalc" class="business.path.Bus">
	    <property name="fixedPrice" value="5.0" /> 
	</bean>
	
	<bean id="feetCalc" class="business.path.Feet"> 
	</bean>
	
	<bean id="transportFactory" class="business.path.TransportFactory">
	    <property name="strategies">
	        <map>
	            <entry key="BOAT" value-ref="boatCalc" />
	            <entry key="BUS" value-ref="busCalc" />
	            <entry key="WALK" value-ref="feetCalc" />
	        </map>
	    </property>
	</bean>
	<bean id="baseAddress" class="business.excursion.Address" abstract="true" />
	
	<bean id="offerBali" class="business.offer.StayOffer" scope="prototype">
	    <property name="hotel" ref="hotelBali" />
	</bean>
	
	<bean id="excursion" class="business.excursion.Excursion" scope="prototype">
		<property name="factory" ref="transportFactory" />
		<property name="nbSite" value="3" />
	</bean>
	
</beans>